.our-friends {
  background-color: $color-background;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  //   &__heading {
  //   }
  //
  //   &__slider {
  //   }
  //
  //   &__btn {
  //   }
}
