body {
  min-width: $width-mobile-s;
  max-width: $width-desctop;
  margin: auto;
}

.container {
  margin: auto;
  padding: $container-desctop;
}

.about,
.our-friends {
  padding: 8rem 0 10rem 0;
}
