$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-white: #ffffff;
$color-light: #fafafa;
$color-background: #f6f6f6;
$color-light-grey: #cdcdcd;
$color-grey: #b2b2b2;
$color-dark-grey: #545454;
$color-dark: #4c4c4c;
$color-soft-black: #292929;
$color-black: #000000;

$width-desktop: 1200px;
$width-tablet: 768px;
$width-mobile-l: 425;
$width-mobile-m: 375px;
$width-mobile-s: 320px;

$container-desktop: 0 40px 0 40px;
$container-tablet: 0 30px 0 30px;
$container-mobile: 0 10px 0 10px;
