  $color-primary: #F1CDB3;
  $color-primary-light: #FDDCC4;
  $color-white: #FFFFFF;
  $color-light: #FAFAFA;
  $color-light-grey: #CDCDCD;
  $color-grey: #B2B2B2;
  $color-dark-grey: #545454;
  $color-dark: #4C4C4C;
  $color-soft-black: #292929;
  $color-black: #000000;

  $width-desctop: 1200px;
  $width-tablet: 768px;
  $width-mobile-l: 425;
  $width-mobile-m: 375px;
  $width-mobile-s: 320px;

  $container-desctop: 0 40px 0 40px;
  $container-tablet: 0 30px 0 30px;
  $container-mobile: 0 10px 0 10px;