.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.2rem;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
  &:hover {
    color: $color-primary-light;
  }
}

.btn_bordered {
  border: 2px solid $color-primary;
}

.btn_colored {
  background-color: $color-primary;
}
