@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia/georgia.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url(../assets/fonts/arial/Arial.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Arial";
  src: url(../assets/fonts/arial/Arial_Italic.ttf);
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

body {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

.heading {
  line-height: 130%;
}

h2 {
  font-size: 4.4rem;
}

h3 {
  font-size: 3.5rem;
  letter-spacing: 0.21rem;
}

.about__heading,
.our-friends__heading,
.help__heading,
.donation__heading {
  color: $color-dark-grey;
}

.footer__heading {
  color: $color-white;
}

.btn {
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.102rem;
  color: $color-soft-black;
}

.logo {
  &__title {
    font-size: 3.2rem;
    line-height: 110%;
    letter-spacing: 0.192rem;
    color: $color-primary;
  }

  &__subtitle {
    font-family: Arial;
    font-size: 1.3rem;
    line-height: normal;
    letter-spacing: 0.13rem;
    color: $color-white;
  }
}

.paragraph,
.nav__link {
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.not-only {
  &__heading {
    color: $color-white;
  }

  &__paragraph {
    color: $color-light-grey;
  }
}

.about {
  &__heading {
    font-family: Georgia;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.21rem;
  }

  &__paragraph {
    font-family: Arial;
    font-size: 1.5rem;
    line-height: 160%;
  }
}
.our-friends {
  &__heading {
    text-align: center;
  }

  // &__btn {
  // }
}

.card {
  &__title {
    font-size: 2rem;
    letter-spacing: 0.12rem;
    color: $color-dark-grey;
  }
}

.bank-account {
  &__bank-name {
    font-size: 1.5rem;
    line-height: 110%;
    letter-spacing: 0.09rem;
    color: $color-dark-grey;
  }

  &__card-number {
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.12rem;
    color: $color-dark-grey;
  }

  &__info {
    font-family: Arial;
    font-size: 1.2rem;
    font-style: italic;
    line-height: 1.8rem;
    color: $color-grey;
  }
}

.footer {
  &__contacts {
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.12rem;
    color: $color-primary;
  }
}
