html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  transition-duration: 0.3s;
}

a,
button {
  cursor: pointer;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia/georgia.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url(../assets/fonts/arial/Arial.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url(../assets/fonts/arial/Arial_Italic.ttf);
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
body {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

.heading {
  line-height: 130%;
}

h2 {
  font-size: 4.4rem;
}

h3 {
  font-size: 3.5rem;
  letter-spacing: 0.21rem;
}

.about__heading,
.our-friends__heading,
.help__heading,
.donation__heading {
  color: #545454;
}

.footer__heading {
  color: #ffffff;
}

.btn {
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.102rem;
  color: #292929;
}

.logo__title {
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.192rem;
  color: #f1cdb3;
}
.logo__subtitle {
  font-family: Arial;
  font-size: 1.3rem;
  line-height: normal;
  letter-spacing: 0.13rem;
  color: #ffffff;
}

.paragraph,
.nav__link {
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.not-only__heading {
  color: #ffffff;
}
.not-only__paragraph {
  color: #cdcdcd;
}

.about__heading {
  font-family: Georgia;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}
.about__paragraph {
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 160%;
}

.our-friends__heading {
  text-align: center;
}

.card__title {
  font-size: 2rem;
  letter-spacing: 0.12rem;
  color: #545454;
}

body {
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
}

.container {
  margin: auto;
  padding: 0 40px 0 40px;
}

.about,
.our-friends,
.help,
.donation {
  padding: 8rem 0 10rem 0;
}

.header {
  position: relative;
  top: 9rem;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-self: center;
}
.nav__list {
  display: flex;
  gap: 3.5rem;
}
.nav__link {
  position: relative;
  padding: 0.5rem;
  color: #cdcdcd;
  transition-duration: 0.4s;
}
.nav__link::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #f1cdb3;
  content: "";
}
.nav__link:hover {
  color: #fafafa;
}
.nav__link:hover::after {
  height: 3px;
}

.not-only {
  min-height: 908px;
  background-image: url(../assets/images/start-screen-background.jpg), url(../assets/images/noise-transparent.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.not-only .container {
  display: flex;
  align-items: center;
  min-height: 908px;
  background-image: url(../assets/images/start-screen-puppy.png);
  background-repeat: no-repeat;
  background-size: 69.8rem 72.8rem;
  background-position: right bottom;
}
.not-only__content {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
  width: 46rem;
}

.about {
  background-image: url(../../assets/images/about-pets.png);
  background-repeat: no-repeat;
  background-size: 30rem 40.8rem;
  background-position: left 13rem bottom 10rem;
}
.about .container {
  display: flex;
  justify-content: flex-end;
  margin-right: 13rem;
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 43rem;
}

.our-friends {
  background-color: #f6f6f6;
}
.our-friends .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.help__heading {
  text-align: center;
}
.help__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 7rem;
  padding: 6rem 4rem 0 4rem;
}
.help__item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-width: 6rem;
  max-width: 17.5rem;
  height: 9rem;
  background-size: 6rem;
  background-repeat: no-repeat;
  background-position: top center;
}
.help__item_food {
  background-image: url(../../assets/icons/help_list/icon-pet-food.svg);
}
.help__item_transport {
  background-image: url(../../assets/icons/help_list/icon-transportation.svg);
}
.help__item_toys {
  background-image: url(../../assets/icons/help_list/icon-toys.svg);
}
.help__item_bowls {
  background-image: url(../../assets/icons/help_list/icon-bowls-and-cups.svg);
}
.help__item_shampoos {
  background-image: url(../../assets/icons/help_list/icon-shampoos.svg);
}
.help__item_vitamins {
  background-image: url(../../assets/icons/help_list/icon-vitamins.svg);
}
.help__item_midicines {
  background-image: url(../../assets/icons/help_list/icon-medicines.svg);
}
.help__item_collars {
  background-image: url(../../assets/icons/help_list/collars-icon-collars-leashes.svg);
}
.help__item_sleep-area {
  background-image: url(../../assets/icons/help_list/icon-sleeping-area.svg);
}

.donation {
  background-color: #f6f6f6;
  background-image: url(../../assets/images/donation-dog.png);
  background-position: left 14rem bottom 1rem;
  background-repeat: no-repeat;
}
.donation .container {
  display: flex;
  justify-content: flex-end;
}
.donation__content {
  width: 38rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20.7rem;
  height: 5.2rem;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
}

.btn_bordered {
  border: 2px solid #f1cdb3;
}

.btn_colored {
  background-color: #f1cdb3;
}

.slider {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  padding: 6rem 0;
}
.slider__cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5.3rem;
}
.slider__btn {
  width: 4rem;
  height: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 50%;
  border-radius: 50%;
}
.slider__btn_left {
  order: -1;
  background-image: url(../../assets/icons/arrow-left.svg);
}
.slider__btn_right {
  background-image: url(../../assets/icons/arrow-right.svg);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 27rem;
  height: 43.5rem;
  border-radius: 0.9rem;
  background-color: #fafafa;
}
.card__img {
  width: 27rem;
  height: 27rem;
  border-radius: 0.9rem 0.9rem 0rem 0rem;
}
.card__btn {
  background-color: transparent;
  border: 2px solid #f1cdb3;
}

.bank-account {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
}
.bank-account__card-number {
  padding: 1rem 1.5rem 1rem 6rem;
  background-color: #f1cdb3;
  background-image: url(../../assets/icons/credit-card.svg);
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-position: left 1.5rem center;
}/*# sourceMappingURL=style.css.map */