html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  transition-duration: 0.3s;
}

a,
button {
  cursor: pointer;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/georgia/georgia.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url(../assets/fonts/arial/Arial.ttf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url(../assets/fonts/arial/Arial_Italic.ttf);
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}
body {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
}

.heading {
  line-height: 130%;
}

h2 {
  font-size: 4.4rem;
}

h3 {
  font-size: 3.5rem;
  letter-spacing: 0.21rem;
}

.about__heading,
.our-friends__heading,
.help__heading,
.donation__heading {
  color: #545454;
}

.footer__heading {
  color: #FFFFFF;
}

.btn {
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.102rem;
  color: #292929;
}

.logo__title {
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.192rem;
  color: #F1CDB3;
}
.logo__subtitle {
  font-family: Arial;
  font-size: 1.3rem;
  line-height: normal;
  letter-spacing: 0.13rem;
  color: #FFFFFF;
}

.paragraph,
.nav__link {
  font-family: Arial;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.not-only__heading {
  color: #FFFFFF;
}
.not-only__paragraph {
  color: #CDCDCD;
}

.about__heading {
  font-family: Georgia;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
}
.about__paragraph {
  font-family: Arial;
  font-size: 1.5rem;
  line-height: 160%;
}

.our-friends__heading {
  text-align: center;
}

.card__title {
  font-size: 2rem;
  letter-spacing: 0.12rem;
}

.about {
  background-image: url(../../assets/images/about-pets.png);
  background-repeat: no-repeat;
  background-size: 30rem 40.8rem;
  background-position: left 13rem bottom 10rem;
}
.about__content {
  width: 43rem;
}
.about .container {
  display: flex;
  justify-content: flex-end;
  margin-right: 13rem;
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.header {
  position: relative;
  top: 9rem;
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-self: center;
}
.nav__list {
  display: flex;
  gap: 3.5rem;
}
.nav__link {
  position: relative;
  padding: 0.5rem;
  color: #CDCDCD;
  transition-duration: 0.4s;
}
.nav__link::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #F1CDB3;
  content: "";
}
.nav__link:hover {
  color: #FAFAFA;
}
.nav__link:hover::after {
  height: 3px;
}

body {
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
}

.container {
  margin: auto;
  padding: 0 40px 0 40px;
}

.about,
.our-friends {
  padding: 8rem 0 10rem 0;
}

.our-friends .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-only {
  min-height: 908px;
  background-image: url(../assets/images/start-screen-background.jpg), url(../assets/images/noise-transparent.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.not-only .container {
  display: flex;
  align-items: center;
  min-height: 908px;
  background-image: url(../assets/images/start-screen-puppy.png);
  background-repeat: no-repeat;
  background-size: 69.8rem 72.8rem;
  background-position: right bottom;
}
.not-only__content {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
  width: 46rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20.7rem;
  height: 5.2rem;
  padding: 1.5rem 4.5rem;
  border-radius: 10rem;
}

.btn_bordered {
  border: 2px solid #F1CDB3;
}

.btn_colored {
  background-color: #F1CDB3;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 27rem;
  height: 43.5rem;
  border-radius: 0.9rem;
  background-color: #FAFAFA;
}
.card__img {
  width: 27rem;
  height: 27rem;
  border-radius: 0.9rem 0.9rem 0rem 0rem;
}
.card__btn {
  background-color: transparent;
  border: 2px solid #F1CDB3;
}

.slider {
  display: flex;
  padding: 6rem 0;
}/*# sourceMappingURL=style.css.map */